
@{
    ViewBag.Title = "Welcome page";
}
<!doctype html>
<hmtl>
    <head>
        <meta charset="utf-8">
        <title>Pushy Buttons</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <!--font-->
        <link href="https://fonts.googleapis.com/css?family=Lato|Nunito|Barrio" rel="stylesheet" />
        <!-- Styles -->
        <link href="~/Content/style.css" rel="stylesheet" type="text/css">

        <!-- Test -->
        <link href="~/Content/pushy-buttons.min.css" rel="stylesheet" type="text/css">

        <!--particles for fun-->
        <script type="text/javascript" src="~/Content/app.js"></script>
        <script type="text/javascript" src="~/Content/particles.js"></script>

        <!--link for the bootstraps-->
        <link rel="stylesheet" href="~/Content/bootstrap.css" />
        <!-- link for the google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato|Nunito|Barrio" rel="stylesheet" />

        <style>

            body {
                background: url("../../Images/background.jpg") no-repeat fixed center;
            }

            h2 {
                letter-spacing: 3px;
                font-family: Barrio;
                text-align: center;
            }

            div {
                margin: 0px;
            }



            .btn {
                margin: auto;
                width: 100%;
                border: 3px solid #202b5a;
                padding: 10px;
                font-size: 25px !important;
            }

            .jumbotron {
                margin-top: 10%;
                opacity: 0.8;
                padding: 30px;
                margin-bottom: 30px;
                background-color: silver;
                line-height: 2.1428571435;
                color: inherit;
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto;
            }

            img {
                background-color: transparent;
                width: 15%;
            }

            image {
                margin: auto;
                width: 100%;
                border: 3px solid #73AD21;
                padding: 10px;
            }

            div.image {
                margin-top: 10px;
                margin-left: 20%;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <h2>Welcome to the Addition Game</h2>
            <button class="btn btn--lg btn--blue" type="submit" onclick="location.href='@Url.Action("StudentLogin", "Account")'">Student Login</button>
            <button class="btn btn--lg btn--blue" type="submit" onclick="location.href='@Url.Action("Login", "Account")'">Teacher Login</button>

            <div class="image">
                <img src="~/Images/dinosaursvg.svg" alt="dino shadow" />
                <img src="~/Images/PlusSVG.svg" alt="plus image" />
                <img src="~/Images/goat2svg.svg" alt="goat shadow" />
                <img src="~/Images/equal.svg" alt="Equal sign" />
                <img src="~/Images/Questionsvg.svg" alt="Question sign" />
            </div>


            @*<div id="particles-js"></div>
            <script type="text/javascript" src="~/Content/app.js"></script>
            <script type="text/javascript" src="~/Content/particles.js"></script>*@
        @*</div>*@
</body>
</html>

