@model TeamNullGame.Models.Game

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game</title>

    <!-- Test -->
    <link href="~/Content/pushy-buttons.min.css" rel="stylesheet" type="text/css">
    <!--font-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito|Barrio" rel="stylesheet" />

    <style type="text/css">
        body {
            /*background-color: lightslategray;*/
            background-image: url('../../Images/chalkboard.jpg');
            background-repeat: no-repeat;
            background-position: center;
        }

        .center {
            text-align: center;
            font-size: 42px;
            color: midnightblue;
        }

        .large {
            font-size: 38px;
            color: darkblue;
        }


        .gameover {
            font: bold 42px san-serif;
            color: darkblue;
            padding: 10px;
        }

        .svgdisp {
            display: inline-block;
            width: 100px;
            height: 100px;
        }

        .jumbotron {
            margin: auto;
            width: 90%;
            padding: 30px;
            background-color: transparent;
            line-height: 2.1428571435;
            color: inherit;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }

        h1 {
            font-family: Barrio;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <div><h1>Great Work @Session["FirstName"] !</h1></div>
        @{Html.BeginForm("Index", "Home", FormMethod.Post);

        <div id="right" class="gameover">You have @Session["TotalCorrect"] gold stars</div>
    for (int i = 1; i <= Convert.ToInt32(Session["TotalCorrect"]); i++)
    {


        <span> <img src="~/Images/star2.jpg" height="100" width="100" style="display: inline-block" alt="star" /> </span>
}
        <div class="large">
            <button class="btn btn--lg btn--blue" type="submit" value="Play Again" href="#">Play Again</button>

        </div>
        }
        </div>
        </body>
