@model TeamNullGame.Models.Game
<head>
    <!--font-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito|Barrio" rel="stylesheet" />
    <!-- Test -->
    <link href="~/Content/pushy-buttons.min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        body {
            /*background-color: lightslategray;*/
            background-image: url('../../Images/chalkboard.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .center {
            text-align: center;
            font-size: 42px;
            color: midnightblue;
        }

        .large {
            font-size: 38px;
            color: darkblue;
        }


        .gameover {
            font: bold 42px san-serif;
            color: darkred;
            padding: 10px;
        }

        .svgdisp {
            display: inline-block;
            width: 100px;
            height: 100px;
        }

        h1 {
            font-family: Barrio;
        }

        .jumbotron {
            margin: auto;
            width: 90%;
            padding: 30px;
            background-color: transparent;
            line-height: 2.1428571435;
            color: inherit;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }
    </style>
</head>
<div class="jumbotron">
    <div class="gameover"><h1> Sorry @Session["FirstName"], the correct answer was @Session["Answer"] </h1></div>
    @{Html.BeginForm("Loss", "Home", FormMethod.Post);


        <div class="large">

            <button class="btn btn--lg btn--blue" type="submit" value="Try Again" href="#">Try Again</button>



        </div>
    }
</div>
